<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant</title>
  <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
  <div id="root">
    <header>
      <div class="container navtop pt-40">
        <nav>
          <!-- logo -->
          <div class="logo">
            <img src="./assets/img/logo-restaurant.png" alt="logo">
          </div>
          <!-- link navbar -->
          <ul class="navigation">
            <li v-for="nav in navbar">
              <a href="#">{{ nav.name }}</a>
            </li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
          </ul>
        </nav>

        <div class="section-header">
          <div class="head-empty">
          </div>
          <div class="head-info">
            <p>THE BEST TABLE IN TOWN</p>
            <h1>fine dining experience</h1>
            <p>
              Pellentesque vitae viverra risus, sagittis.
              Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisl, ac felis.
            </p>
            <button class="b-primary mt-50" type="button" name="button">explore the menu</button>
          </div>
        </div>
      </div>
      <img class="back-head" src="./assets/img/slider52x.jpg" alt="">
    </header>

    <main>
      <!-- first main -->
      <div class="container">
        <div class=" first-section">
          <div class="food-universal">
            <p>
              <strong>HAC TELLUS, FELIS RISUS AT</strong> mattis mattis.
              Eget euismod semper eget tortor, donec amet, blandit.
              Tristique facilisi faucibus elementum feugiat in nam in feugiat.
              Ipsum odio etiam duis facilisis amet vulputate.
            </p>
            <h1>
              food is our common ground, a universal experience.
            </h1>
            <p>
              Tristique tempus condimentum diam donec.
              Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut.
              Metus, nullam scelerisque netus viverra dui.
            </p>
            <img src="./assets/img/signature.jpg" alt="firma">
          </div>
          <div id="california">
            <img src="./assets/img/info22x.jpg" alt="california">
            <h4>california rolls - $22</h4>
          </div>
        </div>

        <div class="type">
          <div class="listType" v-for="type in typesSushi">
            <img :src="'./assets/img/sushi' + type.number + '.png'" alt="">
            <h3>{{ type.title }}</h3>
            <div></div>
            <p>{{ type.descrition }}</p>
            <button class="b-white" type="button" name="button">{{ type.button }}</button>
          </div>
        </div>
      </div>

      <!-- second main -->
      <div class="second-main pos-rel">
        <img src="./assets/img/slider32x.jpg" alt="">
        <div class="second-container">
          <div class="second-empty">
          </div>
          <div class="second-info">
            <p>FINE DINING EXPERIENCE</p>
            <h1>the best table in town</h1>
            <p>
              Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerisque nisi in urna nulla.
            </p>
            <button class="b-primary mt-50" type="button" name="button">explore the menu</button>
          </div>
        </div>
      </div>

      <!-- critics -->
      <h1 class="italic"><i>What critics are saying about us</i></h1>
      <div class="section-critics container">
        <div class="critic-on mt-100">
          <div class="card-critics">
            <img src="./assets/img/blog72x.jpg" alt="">
          </div>
          <div class="card-critics back-primary">
            <h4>meggie stewart</h4>
            <h1>new york times</h1>
            <i v-for="star in 5" class="fas fa-star"></i>
            <div class="line"></div>
            <p>
              Non arcu mauris tortor ultrices mollis tellus euismod fermentum.
              Habitant amet tincidunt id sapien accumsan sed at. <br>
              Mmalesuada ullamcorper amet.
              Pretium pretium dignissim nisi
            </p>
            <button class="b-primary" type="button" name="button">read full article</button>
          </div>
        </div>

        <div class="critic-under mt-70">
          <div class="card-critics back-image1">
            <h4>mary maxey</h4>
            <h1>the guardian</h1>
            <i v-for="star in 5" class="fas fa-star"></i>
            <div class="line"></div>
            <p>
              Non arcu mauris tortor ultrices mollis tellus euismod fermentum.
              Habitant amet tincidunt id sapien accumsan sed.
            </p>
            <button class="b-primary" type="button" name="button">read full article</button>
          </div>
          <div class="card-critics back-image2">
            <h4>patrick monroe</h4>
            <h1>globe and mail</h1>
            <i v-for="star in 5" class="fas fa-star"></i>
            <div class="line"></div>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
              Nulla porttitor accumsan tincidunt.
            </p>
            <button class="b-primary" type="button" name="button">read full article</button>
          </div>
        </div>
      </div>

      <!-- third main -->
      <div class="third-main mt-90">
        <div id="pao-chick">
          <img src="./assets/img/page52x.jpg" alt="">
          <h4>Kung pao chicken - $32</h4>
        </div>
        <h1 class="italic"><i>Latest news & promotions</i></h1>

        <div class="container mt-100 news">
          <div class="promotions" v-for="promotion in promotions">
            <img :src="'./assets/img/blog' + promotion.number + '.jpg'" alt="">
            <div class="info-hover">
              <i class="fas fa-paperclip"></i>
              <h2>{{ promotion.title }}</h2>
              <div class="promotion-info">
                <span>{{ promotion.categories }}</span>
              </div>
            </div>
            <div class="info">
              <h2>{{ promotion.title }}</h2>
              <div class="promotion-info">
                <span>By Admin</span>
                <span>{{ promotion.date }}</span>
                <span>Categories: {{ promotion.categories }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- fourth-main -->
      <div class="fourth-main pos-rel mt-90">
        <img src="./assets/img/slider72x-scaled.jpg" alt="">
        <div class="fourth-container">
          <div class="fourth-empty">
          </div>
          <div class="fourth-info">
            <p>ENJOY YOUR MEAL AT HOME</p>
            <h1>takeout now available</h1>
            <p>
              Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerisque nisi in urna nulla non arcu moris tortor.
            </p>
            <button class="b-primary mt-50" type="button" name="button">
              <i class="fas fa-car"></i> view takeout menu</button>
          </div>
        </div>
      </div>

      <!-- promotions -->
      <div class="container promo-section pb-50">
        <div class="promotions">
          <h1>hors d'oeuvres</h1>
          <div class="promotion-for" v-for="pasto in antipasti">
            <div class="name-price">
              <h2>{{ pasto.name }}</h2>
              <p>{{ pasto.price }}</p>
            </div>
            <p>{{ pasto.descrition}}</p>
          </div>
        </div>
        <div class="promotions">
          <h1>main course</h1>
          <div class="promotion-for" v-for="plate in principalPlate">
            <div class="name-price">
              <h2>{{ plate.name }}</h2>
              <p>{{ plate.price }}</p>
            </div>
            <p>{{ plate.descrition}}</p>
          </div>
        </div>
        <div class="promotions">
          <h1>desserts</h1>
          <div class="promotion-for" v-for="dessert in desserts">
            <div class="name-price">
              <h2>{{ dessert.name }}</h2>
              <p>{{ dessert.price }}</p>
            </div>
            <p>{{ dessert.descrition}}</p>
          </div>
        </div>
      </div>

      <!-- last section main -->
      <div class="last-main mt-70">
        <div class="last-container">
          <div class="price-title">
            <h1>braised abalone</h1>
            <p>$52</p>
          </div>
          <div class="last-empty"></div>
          <p>
            Pretium accumsan porttitor viverra leo gravida mollis imperdiet.
            Fringilla nibh pharetra sociis leo amet.
          </p>
          <button class="b-primary" type="button" name="button">view in the menu</button>
        </div>
      </div>
    </main>

    <footer>

    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/dati.js" charset="utf-8"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
