* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-21 {
  margin-top: 21px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-26 {
  margin-top: 26px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-29 {
  margin-top: 29px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-31 {
  margin-top: 31px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-34 {
  margin-top: 34px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-37 {
  margin-top: 37px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-39 {
  margin-top: 39px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-41 {
  margin-top: 41px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-43 {
  margin-top: 43px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-49 {
  margin-top: 49px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-51 {
  margin-top: 51px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-53 {
  margin-top: 53px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-57 {
  margin-top: 57px;
}

.mt-58 {
  margin-top: 58px;
}

.mt-59 {
  margin-top: 59px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-61 {
  margin-top: 61px;
}

.mt-62 {
  margin-top: 62px;
}

.mt-63 {
  margin-top: 63px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-66 {
  margin-top: 66px;
}

.mt-67 {
  margin-top: 67px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-69 {
  margin-top: 69px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-71 {
  margin-top: 71px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-73 {
  margin-top: 73px;
}

.mt-74 {
  margin-top: 74px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-77 {
  margin-top: 77px;
}

.mt-78 {
  margin-top: 78px;
}

.mt-79 {
  margin-top: 79px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-81 {
  margin-top: 81px;
}

.mt-82 {
  margin-top: 82px;
}

.mt-83 {
  margin-top: 83px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-86 {
  margin-top: 86px;
}

.mt-87 {
  margin-top: 87px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-89 {
  margin-top: 89px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-91 {
  margin-top: 91px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-93 {
  margin-top: 93px;
}

.mt-94 {
  margin-top: 94px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-97 {
  margin-top: 97px;
}

.mt-98 {
  margin-top: 98px;
}

.mt-99 {
  margin-top: 99px;
}

.mt-100 {
  margin-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-11 {
  padding-bottom: 11px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-13 {
  padding-bottom: 13px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-17 {
  padding-bottom: 17px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pb-19 {
  padding-bottom: 19px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-21 {
  padding-bottom: 21px;
}

.pb-22 {
  padding-bottom: 22px;
}

.pb-23 {
  padding-bottom: 23px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-26 {
  padding-bottom: 26px;
}

.pb-27 {
  padding-bottom: 27px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-29 {
  padding-bottom: 29px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-31 {
  padding-bottom: 31px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-33 {
  padding-bottom: 33px;
}

.pb-34 {
  padding-bottom: 34px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-37 {
  padding-bottom: 37px;
}

.pb-38 {
  padding-bottom: 38px;
}

.pb-39 {
  padding-bottom: 39px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-41 {
  padding-bottom: 41px;
}

.pb-42 {
  padding-bottom: 42px;
}

.pb-43 {
  padding-bottom: 43px;
}

.pb-44 {
  padding-bottom: 44px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-46 {
  padding-bottom: 46px;
}

.pb-47 {
  padding-bottom: 47px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-49 {
  padding-bottom: 49px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-51 {
  padding-bottom: 51px;
}

.pb-52 {
  padding-bottom: 52px;
}

.pb-53 {
  padding-bottom: 53px;
}

.pb-54 {
  padding-bottom: 54px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-57 {
  padding-bottom: 57px;
}

.pb-58 {
  padding-bottom: 58px;
}

.pb-59 {
  padding-bottom: 59px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-61 {
  padding-bottom: 61px;
}

.pb-62 {
  padding-bottom: 62px;
}

.pb-63 {
  padding-bottom: 63px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-66 {
  padding-bottom: 66px;
}

.pb-67 {
  padding-bottom: 67px;
}

.pb-68 {
  padding-bottom: 68px;
}

.pb-69 {
  padding-bottom: 69px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-71 {
  padding-bottom: 71px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-73 {
  padding-bottom: 73px;
}

.pb-74 {
  padding-bottom: 74px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-76 {
  padding-bottom: 76px;
}

.pb-77 {
  padding-bottom: 77px;
}

.pb-78 {
  padding-bottom: 78px;
}

.pb-79 {
  padding-bottom: 79px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-81 {
  padding-bottom: 81px;
}

.pb-82 {
  padding-bottom: 82px;
}

.pb-83 {
  padding-bottom: 83px;
}

.pb-84 {
  padding-bottom: 84px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-86 {
  padding-bottom: 86px;
}

.pb-87 {
  padding-bottom: 87px;
}

.pb-88 {
  padding-bottom: 88px;
}

.pb-89 {
  padding-bottom: 89px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-91 {
  padding-bottom: 91px;
}

.pb-92 {
  padding-bottom: 92px;
}

.pb-93 {
  padding-bottom: 93px;
}

.pb-94 {
  padding-bottom: 94px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-97 {
  padding-bottom: 97px;
}

.pb-98 {
  padding-bottom: 98px;
}

.pb-99 {
  padding-bottom: 99px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-11 {
  padding-top: 11px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-13 {
  padding-top: 13px;
}

.pt-14 {
  padding-top: 14px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-18 {
  padding-top: 18px;
}

.pt-19 {
  padding-top: 19px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-21 {
  padding-top: 21px;
}

.pt-22 {
  padding-top: 22px;
}

.pt-23 {
  padding-top: 23px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-26 {
  padding-top: 26px;
}

.pt-27 {
  padding-top: 27px;
}

.pt-28 {
  padding-top: 28px;
}

.pt-29 {
  padding-top: 29px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-31 {
  padding-top: 31px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-33 {
  padding-top: 33px;
}

.pt-34 {
  padding-top: 34px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-37 {
  padding-top: 37px;
}

.pt-38 {
  padding-top: 38px;
}

.pt-39 {
  padding-top: 39px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-41 {
  padding-top: 41px;
}

.pt-42 {
  padding-top: 42px;
}

.pt-43 {
  padding-top: 43px;
}

.pt-44 {
  padding-top: 44px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-46 {
  padding-top: 46px;
}

.pt-47 {
  padding-top: 47px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-49 {
  padding-top: 49px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-51 {
  padding-top: 51px;
}

.pt-52 {
  padding-top: 52px;
}

.pt-53 {
  padding-top: 53px;
}

.pt-54 {
  padding-top: 54px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-56 {
  padding-top: 56px;
}

.pt-57 {
  padding-top: 57px;
}

.pt-58 {
  padding-top: 58px;
}

.pt-59 {
  padding-top: 59px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-61 {
  padding-top: 61px;
}

.pt-62 {
  padding-top: 62px;
}

.pt-63 {
  padding-top: 63px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-66 {
  padding-top: 66px;
}

.pt-67 {
  padding-top: 67px;
}

.pt-68 {
  padding-top: 68px;
}

.pt-69 {
  padding-top: 69px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-71 {
  padding-top: 71px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-73 {
  padding-top: 73px;
}

.pt-74 {
  padding-top: 74px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-76 {
  padding-top: 76px;
}

.pt-77 {
  padding-top: 77px;
}

.pt-78 {
  padding-top: 78px;
}

.pt-79 {
  padding-top: 79px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-81 {
  padding-top: 81px;
}

.pt-82 {
  padding-top: 82px;
}

.pt-83 {
  padding-top: 83px;
}

.pt-84 {
  padding-top: 84px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-86 {
  padding-top: 86px;
}

.pt-87 {
  padding-top: 87px;
}

.pt-88 {
  padding-top: 88px;
}

.pt-89 {
  padding-top: 89px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-91 {
  padding-top: 91px;
}

.pt-92 {
  padding-top: 92px;
}

.pt-93 {
  padding-top: 93px;
}

.pt-94 {
  padding-top: 94px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-96 {
  padding-top: 96px;
}

.pt-97 {
  padding-top: 97px;
}

.pt-98 {
  padding-top: 98px;
}

.pt-99 {
  padding-top: 99px;
}

.pt-100 {
  padding-top: 100px;
}

button.b-primary {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5c3d27;
  border: 1px solid #ffffff;
  font-family: "Work Sans";
  font-size: 14px;
}
button.b-primary:hover {
  color: #5c3d27;
  background-color: #ffffff;
  cursor: pointer;
}

button.b-white {
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #5c3d27;
  border: 1px solid #bcbcbc;
  font-family: "Work Sans";
  font-size: 14px;
}
button.b-white:hover {
  border: 1px solid #5c3d27;
  cursor: pointer;
}

p {
  font-family: "Work Sans";
}

h1 {
  font-family: "Bebas Neue";
}

.pos-rel {
  position: relative;
}

header {
  background-color: #5c3d27;
  height: 850px;
  position: relative;
  z-index: 0;
}
header img.back-head {
  height: 850px;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.section-header {
  margin-top: 140px;
  width: 40%;
  display: flex;
}
.section-header .head-empty {
  width: 20%;
  border-top: 1px solid #bcbcbc;
  margin-right: 15px;
  margin-top: 5px;
}
.section-header .head-info {
  margin-left: 20px;
}
.section-header .head-info p:first-of-type {
  font-size: 14px;
  line-height: 1;
}
.section-header .head-info p {
  font-size: 19px;
  color: #bcbcbc;
  width: 70%;
  line-height: 1.6;
}
.section-header .head-info h1 {
  text-transform: uppercase;
  font-size: 95px;
  color: #ffffff;
  margin: 40px 0;
  letter-spacing: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navigation {
  display: flex;
}
nav .navigation a {
  padding-right: 40px;
  color: #bcbcbc;
  font-family: "Work Sans";
}
nav .navigation a:hover {
  color: #ffffff;
}

.first-section {
  display: flex;
  padding-top: 7%;
}
.first-section > div {
  width: 50%;
}
.first-section .food-universal {
  margin-top: 4em;
}
.first-section .food-universal p {
  font-size: 19px;
  width: 85%;
  line-height: 1.6;
  color: #5c3d27;
}
.first-section .food-universal h1 {
  font-size: 70px;
  margin: 40px 0;
  color: #5c3d27;
}
.first-section .food-universal img {
  margin-top: 2em;
  width: 30%;
  height: auto;
}
.first-section #california {
  position: relative;
  height: 800px;
}
.first-section #california img {
  width: 600px;
  height: 800px;
  transition: transform 0.2s;
}
.first-section #california img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.first-section #california h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Work Sans";
  position: absolute;
  bottom: 20px;
  left: 200px;
  color: #ffffff;
}

.type {
  display: flex;
  padding-top: 7%;
}
.type .listType {
  width: calc(100%/3);
  text-align: center;
  padding: 8% 2%;
}
.type .listType h3 {
  font-size: 31px;
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  margin-top: 30px;
  color: #5c3d27;
}
.type .listType div {
  border-bottom: 1px solid #5c3d27;
  width: 25%;
  margin: 10% 37%;
}
.type .listType p {
  font-size: 17px;
  color: #5c3d27;
  line-height: 1.6;
  margin-bottom: 2em;
}

.second-main {
  height: 850px;
  background-color: #5c3d27;
  display: flex;
  align-items: center;
}
.second-main img {
  height: 850px;
  width: 60%;
}
.second-main .second-container .second-empty {
  width: 8%;
  border-bottom: 1px solid #ffffff;
  margin-left: 50px;
  position: relative;
  top: 6px;
}
.second-main .second-container .second-info {
  padding-left: 25%;
  width: 90%;
}
.second-main .second-container .second-info p:first-of-type {
  font-size: 14px;
  line-height: 1;
}
.second-main .second-container .second-info p {
  font-size: 19px;
  color: #bcbcbc;
  width: 70%;
  line-height: 1.6;
}
.second-main .second-container .second-info h1 {
  text-transform: uppercase;
  font-size: 70px;
  color: #ffffff;
  margin: 40px 0;
  letter-spacing: 3px;
}

.critic-on {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
.critic-on .back-primary {
  background-color: #5c3d27;
  padding: 10%;
  transition: transform 0.2s;
}
.critic-on .back-primary:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-critics {
  width: 50%;
  height: 800px;
}
.card-critics i {
  color: #ffffff;
  padding-right: 10px;
  margin: 40px 0;
}
.card-critics .line {
  border-bottom: 1px solid #ffffff;
  width: 20%;
  margin-bottom: 40px;
}
.card-critics h4 {
  text-transform: uppercase;
  color: #bcbcbc;
  font-family: "Work Sans";
  font-size: 16px;
}
.card-critics h1 {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 56px;
  margin-top: 35px;
}
.card-critics p {
  color: #ffffff;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.card-critics img {
  width: 100%;
  height: 800px;
}

.critic-under {
  display: flex;
}
.critic-under > * {
  margin: 0 15px;
}
.critic-under .back-image1 {
  padding: 10%;
  background-image: url("../../assets/img/info52x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.critic-under .back-image2 {
  padding: 10%;
  background-image: url("../../assets/img/info12x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.critic-under button {
  background-color: rgba(0, 0, 0, 0.1);
}
.critic-under button:hover {
  background-color: #5c3d27;
  color: #ffffff;
  border-color: #5c3d27;
}

h1.italic {
  font-family: "Lora";
  text-align: center;
  font-size: 46px;
  letter-spacing: 3px;
  margin-top: 100px;
  color: #5c3d27;
}

.third-main #pao-chick {
  position: relative;
}
.third-main #pao-chick img {
  height: 450px;
  width: 100%;
}
.third-main #pao-chick h4 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: "Work Sans";
  position: absolute;
  bottom: 30px;
  left: 45%;
}

.news {
  display: flex;
}
.news .promotions {
  width: calc(100%/3);
  height: 620px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  position: relative;
}
.news .promotions .info {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
}
.news .promotions .info h2 {
  color: #5c3d27;
  font-family: "Bebas Neue";
  font-size: 31px;
  margin-top: 25px;
}
.news .promotions .info span {
  font-size: 12px;
  color: #5c3d27;
  font-family: "Lora";
  padding: 0 5px;
}
.news .promotions .info span:nth-child(-n+2) {
  border-right: 1px solid #5c3d27;
}
.news .promotions .info-hover {
  display: none;
}
.news .promotions .info-hover h2 {
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 31px;
  margin-top: 10px;
}
.news .promotions .info-hover span {
  font-size: 12px;
  color: #ffffff;
  font-family: "Lora";
}
.news .promotions:hover .info-hover {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.news .promotions img {
  width: 100%;
  height: 620px;
  transition: 0.5s ease;
}
.news .promotions:hover img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  cursor: pointer;
}
.news .promotions i {
  color: #ffffff;
  font-size: 19px;
}

.fourth-main {
  height: 850px;
  background-color: #5c3d27;
  display: flex;
  align-items: center;
}
.fourth-main img {
  height: 850px;
  width: 60%;
}
.fourth-main .fourth-container .fourth-empty {
  width: 8%;
  border-bottom: 1px solid #ffffff;
  margin-left: 50px;
  position: relative;
  top: 6px;
}
.fourth-main .fourth-container .fourth-info {
  padding-left: 25%;
  width: 90%;
}
.fourth-main .fourth-container .fourth-info p:first-of-type {
  font-size: 14px;
  line-height: 1;
}
.fourth-main .fourth-container .fourth-info p {
  font-size: 19px;
  color: #bcbcbc;
  width: 70%;
  line-height: 1.6;
}
.fourth-main .fourth-container .fourth-info h1 {
  text-transform: uppercase;
  font-size: 70px;
  color: #ffffff;
  margin: 40px 0;
  letter-spacing: 3px;
}
.fourth-main .fourth-container .fourth-info i {
  margin-right: 10px;
}

.promo-section {
  display: flex;
}
.promo-section .promotions {
  width: calc(100%/3);
}
.promo-section .promotions .name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.promo-section .promotions .name-price h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 30px;
  letter-spacing: 1px;
}
.promo-section .promotions .name-price h2 p {
  font-size: 16px;
  font-family: "Work Sans";
}
.promo-section .promotions h1 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 45px;
}
.promo-section .promotions .promotion-for > p {
  font-size: 19px;
  font-family: "Work Sans";
  margin-bottom: 25px;
}
.promo-section .promotions:nth-child(odd) {
  margin-top: 120px;
  background-color: #E8E8E8;
  padding: 5%;
  color: #5c3d27;
}
.promo-section .promotions:nth-child(3) {
  height: 760px;
}
.promo-section .promotions:nth-child(2) {
  margin-top: 70px;
  padding: 5%;
  height: 780px;
  background-image: url("../../assets/img/misc22x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
