*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 85%;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

// margin & padding
@for $i from 10 through 100{
  .mt-#{$i} {
    margin-top: 1px * $i;
  }
}

@for $i from 10 through 100{
  .pt-#{$i} {
    padding-top: 1px * $i;
  }
}
// margin & padding

button.b-black{
  padding: 10px 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
  border: 1px solid $white;
  font-family: $family_worksans;
  font-size: $font_14;
  &:hover{
    color: $black;
    background-color: $white;
  }
}

button.b-white{
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: $white;
  color: $black;
  border: 1px solid $silver;
  font-family: $family_worksans;
  font-size: $font_14;
  &:hover{
    border: 1px solid $black;
  }
}

p{
  font-family: $family_worksans;
}

h1{
  font-family: $family_bebas;
}

.pos-rel{
  position: relative;
}
