.first-section{
  display: flex;
  padding-top: 7%;
  & > div{
    width: 50%;
  }
  .food-universal{
    margin-top: 4em;
    p{
      font-size: $font_19;
      width: 85%;
      line-height: 1.6;
    }
    h1{
      font-size: 70px;
      margin: 40px 0;
    }
    img{
      margin-top: 2em;
      width: 30%;
      height: auto;
    }
  }
  #california{
    position: relative;
    height: 800px;
    img{
      width: 550px;
      height: 800px;
    }
    h4{
      font-size: $font_14;
      text-transform: uppercase;
      font-family: $family_worksans;
      position: absolute;
      bottom: 20px;
      left: 200px;
      color: $white;
    }
  }
}
