.back-foot{
  background-image: url('../../assets/img/footer2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
  width: 100%;
  padding: 15% 30%;
  p{
    color: $white;
    font-size: $font_19;
    line-height: 1.6;
    margin-top: 30px;
  }
  .link-social{
    display: inline-block;
    margin-top: 60px;
    padding: 0 5px;
    i{
      color: $primary;
      border-radius: 50%;
      background-color: $white;
      font-size: $font_16;
      padding: 15px 15px;
    }
  }
}

.copyright{
  height: 80px;
  background-color: $primary;
  @include flex-align;
  justify-content: center;
  p{
    font-size: 12px;
    color: $silver;
  }
}

.fa-chevron-up{
  color: $white;
  background-color: $mantle;
  font-size: $font_19;
  padding: 8px 15px;
  position: fixed;
  bottom: 0;
  right: 100px;
  z-index: 5;
}
