nav{
  @include flex-bet;
  align-items: center;
  .navigation{
    display: flex;
    a{
      padding-right: 40px;
      color: $silver;
      font-family: $family_worksans;
    }
  }
}
h2{
  color: #fff;
}
