$white: #ffffff;
$primary: #5c3d27;
$tundora: #434243;
$grey: #E8E8E8;
$silver: #bcbcbc;
$almond: #937a6b;
$oregon: #944402;
$eastern: #2787b2;
$christine: #f3790c;
$equator: #e3bd5e;
$christi: #69a10e;
$zeus: #1f1914;
$sisal: #d6cbbd;
$mantle: #88978d;
$fieryOrange: #b44a13;
$slate: #6f7f8c;
$driftwood: #b7814d;
$flint: #676059;
$secondFiery: #af4913;
$walnut: #392b22;
$tacao: #f2bf87;
